*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.topbar {
    background: #000;
    color: #fff;
    padding: 10px 0;
}

.topbar .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .social-icons {
    display: flex;
    align-items: center;
}

.topbar .social-icons a {
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
}

.topbar .phone-numbers {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.topbar .phone-numbers div {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.topbar .phone-numbers div i {
    margin-right: 5px;
}

.topbar .call-me-back {
    background: #8bc34a;
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 15px;
}

.navbar {
    background-color: #fff;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav .nav-link {
    color: #000 !important;
    position: relative;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

.navbar-nav .nav-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFAC1C;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.header {
    background-color: #8bc34a;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.header h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
}

.header p {
    font-size: 18px;
    margin-bottom: 30px;
}

.header .btn {
    background-color: #FFAC1C;
    color: #000;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-carousel {
    position: relative;
}

.hero-carousel .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-carousel .slick-dots {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.hero-carousel .slick-dots li {
    margin: 0 10px;
}

.hero-carousel .slick-dots li button {
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-indent: -9999px;
}

.hero-carousel .slick-dots li.slick-active button {
    background-color: #fff;
    transform: scale(1.2);
}

.hero-carousel .slick-dots li button::before {
    content: '';
    display: none;
}

.advantages, .about, .services, .portfolio {
    padding: 60px 0;
}

.advantages h2, .services h2, .portfolio h2, .about h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}

.advantages h2 span, .services h2 span {
    color: #8bc34a;
}

.advantages .text, .services .text, .portfolio .text {
    margin-bottom: 40px;
    font-size: 16px;
    text-align: center;
    color: #d3d3d3;
}

.advantages .items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.advantages .item {
    width: 200px;
    margin: 20px;
    text-align: center;
}

.advantages .item .icon {
    width: 100px;
    height: 100px;
    background: #f5f5f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #8bc34a;
    margin: 0 auto 10px;
}

.advantages .item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.advantages .item p {
    color: #6c757d;
    font-size: 14px;
}

.about {
    background-color: #f5f5f5;
    padding: 60px 0;
}

.about h2 {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
}

.about h2 span {
    color: #8bc34a;
}

.about .btn {
    background-color: #FFAC1C;
    color: #000;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.services .service-box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    background: #f5f5f5;
    margin-top: 40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services .service-box .icon {
    width: 70px;
    height: 70px;
    background: #FFAC1C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ff0000;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.services .service-box .icon i {
    color: #ff0000;
}

.services .service-box h3 {
    margin-top: 70px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
}

.services .service-box p {
    color: #8bc34a;
    font-weight: bold;
    text-transform: uppercase;
}

.services .service-box .description {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: lowercase;
}

.services .service-box .read-more {
    width: 100%;
    text-align: center;
    color: #8bc34a;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: auto;
    padding-top: 10px;
}

.portfolio {
    background-color: #333;
    color: #fff;
}

.portfolio h2 span {
    color: #8bc34a;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio .portfolio-item img {
    width: 100%;
}

.portfolio .nav-tabs {
    border-bottom: none;
}

.portfolio .nav-tabs .nav-link {
    color: #fff;
    border: none;
}

.portfolio .nav-tabs .nav-link.active {
    color: #ff9800;
    background-color: transparent;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
}

.section-title h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}

.section-title h2 span {
    color: #8bc34a;
}

.section-title p {
    color: #777;
}

.process-step {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.process-step i {
    font-size: 40px;
    color: #8bc34a;
}

.process-step h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.process-step p {
    color: #777;
}

.process-step .circle {
    border: 2px solid lightgray;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    position: relative;
}

.process-step .number {
    background-color: #FFAC1C;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.people-about-us {
    background-color: #f9f9f9;
    padding: 30px 0;
    position: relative;
}

.people-about-us .person {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.people-about-us .person .circle {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-right: 20px;
}

.people-about-us .person i {
    font-size: 40px;
    color: lightgray;
}

.people-about-us .person h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.people-about-us .person p {
    color: black;
    text-align: left;
}

.people-about-us .vertical-separator {
    position: absolute;
    width: 2px;
    background-color: lightgray;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
}

.people-about-us .people-container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.people-about-us .slick-carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.people-about-us .separator {
    width: calc(100% - 40px);
    height: 2px;
    background-color: lightgray;
    margin: 30px auto;
}

.people-about-us .slick-dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    display: flex;
    justify-content: center;
}

.people-about-us .slick-dots li {
    margin: 0 8px;
}

.people-about-us .slick-dots li button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FFAC1C;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 0;
}

.people-about-us .slick-dots li.slick-active button {
    background-color: orangered;
}

.skills {
    text-align: center;
    justify-content: space-between;
    width: 90%;
    margin: 60px 0 30px 0;
}

@media(min-width: 450px){
.skills .section-title{
    margin-left: 50px;
}
}

.skills .skill {
    display: inline-block;
    width: 150px;
    margin: 0 10px;
}

.skills .skill h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.skills .skill p {
    color: #777;
    padding-left: 40px;
}

.progress {
    width: 150px;
    height: 150px !important;
    float: left;
    line-height: 150px;
    background: none;
    margin: 20px;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid white;
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    border-color: white;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #000;
    font-size: 24px;
    color: inherit;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress.graphic-design .progress-bar {
    border-color: #FFAC1C;
}

.progress.graphic-design .progress-value {
    color: #FFAC1C;
}

.progress.graphic-design .progress-right .progress-bar {
    animation: loading-graphic-design-right 1.8s linear forwards;
}

.progress.graphic-design .progress-left .progress-bar {
    animation: loading-graphic-design-left 1.8s linear forwards;
}

.progress.seo-ads .progress-bar {
    border-color: #FF0000;
}

.progress.seo-ads .progress-value {
    color: #FF0000;
}

.progress.seo-ads .progress-right .progress-bar {
    animation: loading-seo-ads-right 1.8s linear forwards;
}

.progress.seo-ads .progress-left .progress-bar {
    animation: loading-seo-ads-left 1.8s linear forwards;
}

.progress.branding .progress-bar {
    border-color: #8bc34a;
}

.progress.branding .progress-value {
    color: #8bc34a;
}

.progress.branding .progress-right .progress-bar {
    animation: loading-branding-right 1.8s linear forwards;
}

.progress.branding .progress-left .progress-bar {
    animation: loading-branding-left 1.8s linear forwards;
}

.progress.web-design .progress-bar {
    border-color: #000000;
}

.progress.web-design .progress-value {
    color: #ffffff;
}

.progress.web-design .progress-right .progress-bar {
    animation: loading-web-design-right 1.8s linear forwards;
}

.progress.web-design .progress-left .progress-bar {
    animation: loading-web-design-left 1.8s linear forwards;
}

@keyframes loading-graphic-design-right {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(162deg);
}
}

@keyframes loading-seo-ads-right {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(180deg);
}
}

@keyframes loading-branding-right {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(180deg);
}
}

@keyframes loading-web-design-right {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(180deg);
}
}

@keyframes loading-graphic-design-left {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(0deg);
}
}

@keyframes loading-seo-ads-left {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(72deg);
}
}

@keyframes loading-branding-left {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(90deg);
}
}

@keyframes loading-web-design-left {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(108deg);
}
}
.start-project {
    background-color: #8bc34a;
    padding: 30px 0;
    text-align: center;
}

.start-project h2 {
    font-size: 42px;
    color: #fff;
}

.start-project form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.start-project form input {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: calc(100% - 20px);
    max-width: 300px;
    box-sizing: border-box;
}

.start-project form button {
    background-color: #f39c12;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    width: auto;
}

.start-project p {
    color: #fff;
}

@media (min-width: 768px) {
.start-project h2 {
    font-size: 36px;
}

.start-project form input,
.start-project form button {
    width: auto;
}
}

@media (max-width: 480px) {
.start-project h2 {
    font-size: 28px;
}

.start-project form input {
    width: 100%;
}

.start-project form button {
    width: 100%;
}

}

.packages .container {
    text-align: center;
    padding: 50px 0;
}

.packages .package {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.packages .package h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.packages .package .price {
    font-size: 2.5em;
    color: #4CAF50;
}

.packages .package .old-price {
    text-decoration: line-through;
    color: #999;
}

.packages .package .discount {
    color: #4CAF50;
}

.packages .package ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.packages .package ul li {
    margin: 10px 0;
}

.packages .package .btn-order {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75em; /* Smaller text size */
}

.packages .header {
    margin-bottom: 50px;
}

.packages .header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.packages .header p {
    font-size: 1.2em;
    color: #666;
}

.packages .header .underline {
    width: 50px;
    height: 3px;
    background-color: #4CAF50;
    margin: 20px auto;
}

.packages .view-all {
    margin-top: 30px;
}

.packages .view-all .btn {
    background-color: #8bc53f;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    text-transform: uppercase;
}

.packages .middle-package {
    margin-top: -30px;
    z-index: 1;
}

@media (max-width: 768px) {
    .packages .middle-package {
        margin-top: 0;
    }

    .packages .package {
        margin-bottom: 50px;
    }

    .packages .package .btn-order {
        position: static;
        transform: none;
        margin-top: 20px;
    }
}

.contacts {
    text-align: center;
    margin-bottom: 30px;
}

.contacts p {
    color: #777;
}

.footer {
    background-color: #8bc34a;
    color: #fff;
    padding: 30px 0;
}

.footer .footer-section {
    margin-bottom: 20px;
}

.footer .footer-section h4 {
    font-size: 16px;
    font-weight: bold;
}

.footer .footer-section p,
.footer .footer-section ul li a {
    color: #fff;
}

.footer .footer-section ul {
    list-style: none;
    padding: 0;
}

.footer .footer-section ul li {
    margin-bottom: 10px;
}

.footer .footer-section ul li a {
    text-decoration: none;
}

.footer .footer-section ul li a:hover {
    text-decoration: underline;
}

.footer .social-icons {
    text-align: center;
}

.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.footer .follow-us-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.footer .follow-us-icons a {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
}

.contacts-section {
    margin-top: 50px;
}

.contacts i {
    color: #8bc34a;
}

.contacts p {
    color: black;
    font-size: 18px;
}

.contacts .contact-info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.map-container {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.footer .copyright {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.process-chain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media(max-width:768px){
.vertical-separator{
    display: none;
}
}